<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel ="stylesheet" href="/static/style.css">
  <title>Title</title>
</head>
<body>
  <div class='center'>
    <h1>add new post</h1>
    <form method="POST">
      <label>title:</label>
      <input type ="text" name="title" required>
      <br>
      <label>content</label>
      <textarea rows="10" name="content" required></textarea>
      <br>
      <button type="submit">create post</button>
    </form>
  </div>

</body>
</html>